HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
resources/application-local.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

docker-config/db/**
docker-config/ollama_data/**
docker-config/ollama_llama3_data/**
docker-config/openwebui/**