HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/application-local.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

http/microservices-on-aws.pdf
docker-config/config/.env
docker-config/db/**
docker-config/ollama_data/**
docker-config/ollama_llama3_data/**
docker-config/openwebui/**